html, body {width: auto!important; overflow-x: hidden!important} 
.nav-bg{
background-color:#F1F5FB;
position: absolute;
top: 0;
left: 0;
display: flex;
width: 100%;
}
.log-wrapper{
margin-left: 80px;
display: flex;
}
.list-item-navigation{
font-size: 16px;
line-height: 19px;
color: #343434;
margin-left: 40px;
}
.join-btn{
background: #4781DC;
border-radius: 3px;
font-family: GalanoGrotesque-SemiBold;
font-size: 16px;
line-height: 19px;
color: #F1F5FB;
padding: 12px 26px;
}
.sign-in-nav{
 margin-right: 22px;
}
.div-wrapper{
max-width: 583px;
}
.landing-page-banner{
    padding-top: 101px;
    padding-bottom: 200px;
    background: rgb(186, 147, 249, 0.01);
    position: relative;

}
.cloudenly-headline{
font-family: GalanoGrotesque;
font-size: 48px;
line-height: 80px;
color: #031A40;
}
.landing-page-left-div{

}
.landing-page-right-div{
margin-top: 20px;
}
.header-text-bold{
font-family: GalanoGrotesque;
font-size: 48px;
line-height: 132%;
color: #031A40;
}
.header-text-light{
max-width: 410px;
font-family: GalanoGrotesque;
font-size: 20px;
line-height: 23px;
color: #343434;
}
.call-to-action-div{
    margin-top: 40px;
}
.call-to-action-div .blue-btn{
margin-right: 35px;
}
.blue-btn{
    background: #4781DC;
    border-radius: 3px;
    /* font-family: BRFirma; */
    font-size: 16px;
    line-height: 19px;
    color: #F1F5FB;
    padding:15px 65px 17px 65px;
}

.white-btn-border{
    background: #FFFFFF;
    border: 1px solid #4781DC;
    box-sizing: border-box;
    border-radius: 3px;
    /* font-family: BRFirma; */
    font-size: 16px;
    line-height: 19px;
    color: #4781DC;
    padding:15px 65px 17px 65px;
}
.enterprices{
padding-top:29px;
padding-bottom: 30px;
margin-left: 60px;
}
.trust-enterprices{
    font-family: GalanoGrotesque;
    font-size: 20px;
    line-height: 23px;
    color: #343434;
    margin-right: 20px;
    margin-top: 10px;
}
.enterprice-box{
    display: flex;
    background:rgb(219, 219, 219,0.3);
    border-radius: 5px;
    /* width: 169px; */
    height: 50px;
    font-family: GalanoGrotesque;
font-size: 16px;
line-height: 19px;
color: #343434;
padding-right: 30px;
padding: 13px 15px;
margin-right: 30px;
}
.enterprice-box img{
    margin-right: 10px;
}
.cloudenly-suite{
padding-top: 120px;
background: rgb(241, 245, 251,0.4);
padding-left: 60px;
}
.div-cover{
    min-width: 377px;
    padding-top: 74px;
}
.cloudenly-text-box{
font-family: GalanoGrotesque;
font-size: 48px;
line-height: 80px;
text-align: center;
color: #031A40;
text-align: left;
}
.text-below{
font-family: GalanoGrotesque;
font-size: 20px;
line-height: 23px;
color: #343434;
margin-top: 10px;
}
.arrow-direction{
    margin-top: 20px;
}
.products-container{
margin-left: 72px;
padding-bottom: 130px;
}
.product-div{
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(47, 48, 97, 0.1);
    border-radius: 8px;
    width: 324px; 
    margin-right: 35px;
    padding-bottom: 36px;
}
.product-top-line{
    border-radius: 8px 8px 0px 0px;
    width: 324px;
    height: 10px;
}
.optima-top{
    background: #1034A6;
}
.humana-top{
    background: #5E227F;
}
.dome-top{
    background: #05613A;
}
.product-desc{
    margin: 100px 40px 0px 40px;
    width: 244px;
    text-align: left;

}
.product-explain{
    font-family: GalanoGrotesque;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
    margin-top: 5px;

}
.product-name{
margin-top: 6px;
font-family: GalanoGrotesque ;
font-size: 22px;
line-height: 26px;

/* Header Dark Blue */
color: #031A40;
}
.product-learn-more{
margin-top: 15px;
font-family: GalanoGrotesque-SemiBold;
font-size: 16px;
line-height: 19px;
color: #4781DC;
}
.product-btn{
    /* font-family: BRFirma; */
    font-size: 16px;
    line-height: 19px;
    color: #F1F5FB;
margin-top: 15px;
width: 100%;
padding-top: 15px;
padding-bottom: 17px;
text-align: center;
border-radius: 3px;
}
.dome-btn{
background: #1034A6;
}
.humana-btn{
    background: #5E227F;
}
.optima-btn{
    background: #05613A;
}

.high-growth-companies{
    background-color: rgb(241, 245, 251,0.2);
    box-shadow: 0px 2px 10px rgba(47, 48, 97, 0.1); 
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
}
.company-div{
    margin-right: 60px;
}
.all-brand-btn{
margin-top: 50px;
}
.try-product-free{
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;  
}

.free-try-text{
font-family: GalanoGrotesque;
font-size: 20px;
line-height: 23px;
color: #343434;
margin-top: 10px;
}
.free-try-btn{
    margin-top: 50px;
}

.footer-wrapper{
    padding: 80px 70px 20px 80px;
    background: #FFFFFF;
}
.column-box{
    text-align: left;
    /* margin-right: 50px; */
    margin-right: 64px;
}
.menu-head{
/* font-family: BRFirma; */
font-size: 16px;
line-height: 19px;
color: #031A40;
font-weight: bold;
cursor: pointer;
margin-bottom: 5px;
}
.list-element{
    font-family: GalanoGrotesque;
    font-size: 16px;
    line-height: 19px;
    color: #343434;
    cursor: pointer;
}
.newletter-div{
    margin-left: 23px;
    text-align: left;;
}
.newsleter-head{
font-family: GalanoGrotesque;
font-size: 22px;
line-height: 26px;
color: #031A40;
}
.text-newsletter{
font-family: GalanoGrotesque;
font-size: 16px;
line-height: 19px;
color: #828282;
}
.new-letter-form{
margin-top: 13px;
}
.cloudenly-textbox{
background: #F1F5FB;
border-radius: 3px;
width: 250px;
height: 49px;
margin-right: 5px;
padding: 12px 18px;
}
.bottom-navigation-div{
    margin-top: 80px;
}
.bottom-link{
    cursor: pointer;
    font-family: GalanoGrotesque;
font-size: 16px;
line-height: 19px;
color: #4781DC;
/* margin-right: 30px; */
margin-right: 50px;
}
.footer-info{
    margin-top:30px;  
}
.copy-right-text{
    font-family: GalanoGrotesque;
    font-size: 16px;
    line-height: 19px;
    
    /* Primary Black */
    color: #343434;
}
.legal-navigation{
    margin-top: 10px;
}
.info-link{
font-family: GalanoGrotesque;
font-size: 16px;
line-height: 19px;
color: #828282;
/* margin-right: 30px; */
margin-right: 50px;
}














@media (max-width: 768px){
.log-wrapper{
margin-left: 0px;
}
.list-item-navigation{
margin-left: 0px;
} 
.header-text-bold {
    font-size: 30px;
    line-height: 60%;
}
.landing-page-banner{
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom:40px;
}
.landing-page-right-div{
    margin-top: 35px;
}
.enterprices{
    padding-top:0px;
    padding-bottom: 30px;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: center;
    }
    .enterprice-box {
        width: 179px;
        margin-top: 20px;
    }
    .cloudenly-suite{
        padding-top: 20px;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .div-cover{
        min-width: unset;
        padding-top: 0px;
    }
    .cloudenly-text-box{
        font-size: 30px;
    line-height: 50px;
    }
.blue-btn, .white-btn-border{
    width: 100%;
}
.call-to-action-div .blue-btn{
    margin-right: 0px;
    }
    .nav-bg{
        justify-content: space-around;
    }
}